._hero {
  width: $per;
  height: $vh;
  display: $f;
  justify-content: $c;
  align-items: $c;
  background: #000;
  flex-direction: $cl;
  h1 {
    font-family: $font;
    font-size: 180px;
    letter-spacing: 20px;
    text-align: $c;
    color: #fff;
  }
  ._hero_child {
    display: $f;
    justify-content: $c;
    align-items: $c;
    position: $re;
    .firstImage_Hero {
      overflow: hidden;
      img {
        object-fit: $cv;
        width: 680px;
        height: 370px;
      }
    }
    .image_hero_text {
      position: absolute;
      h2 {
        font-size: 100px;
        color: #fff;
      }
    }
  }
}
@media only screen and (max-width: 1400px) {
  ._hero {
    width: $per;
    height: $vh;
    display: $f;
    justify-content: $c;
    align-items: $c;
    background: #000;
    flex-direction: $cl;
    h1 {
      font-family: $font;
      font-size: 150px;
      letter-spacing: 20px;
      text-align: $c;
      color: #fff;
    }
    ._hero_child {
      display: $f;
      justify-content: $c;
      align-items: $c;
      position: $re;
      .firstImage_Hero {
        img {
          object-fit: $cv;
          width: 680px;
          height: 370px;
        }
      }
      .image_hero_text {
        position: absolute;
        h2 {
          font-size: 100px;
          color: #fff;
        }
      }
    }
  }
}
//mobile
@media only screen and (max-width: 620px) {
  ._hero {
    height: $per;
    padding: 0;
    h1 {
      font-size: 50px;
      text-align: $c;
    }
    ._hero_child {
      .firstImage_Hero {
        img {
          width: $per;
          height: 370px;
        }
      }
    }
  }
}
