body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.lineChildren {
  transform: translate(0px, 800px);
}
.lineParent {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
}
.costumCursur {
  z-index: calc(9999 * 99999);
  position: fixed;
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
  border-radius: 100%;
  border: 2px solid #fff;
  background: #000;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 300ms ease-out;
}
.panel {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
}
.wrappingIT {
  width: 600% !important;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  padding: 0;
  margin: 0;
}
.green {
  background: green;
}
.white {
  background: #FFF;
}
.red {
  background: red;
}
.green,.white,.third{
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
}